/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Times New Roman', Times, serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.header{
    width: 100%;
    font-size: 17px;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid black;
}

.mobile-menu{
    display: none;
    justify-content: center;
    align-items: center;
}
.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 1.5px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn_active span{
    height: 0;
}
.menu-btn_active span:before {
  transform: rotate(-45deg);
}
.menu-btn_active span:after {
  transform: rotate(45deg);
}

.menu-container{
    background-color: #fde3ec;
}

.menu-nav{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.menu-social{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-ul, .footer-ul{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.menu-ul li, .footer-ul li{
    padding: 10px;
    font-weight: bold;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    cursor: pointer;
    position: relative;
}
.menu-ul li:not(:last-child), .footer-ul li:not(:last-child){
    margin-right: 30px;
}

.menu-ul li:after, .menu-ul li:before{
    content:" ";
    width:8px;
    height:8px;
    position:absolute;
    border :0px solid #fff;
    transition:all 0.5s;
}

.menu-ul li:after{
    top:-1px;
    left:-1px;
    border-top:2px solid black;
    border-left:2px solid black;
}
.menu-ul li:before{
    bottom:-1px;
    right:-1px;
    border-bottom:2px solid black;
    border-right:2px solid black;
}
.menu-ul li:hover{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
}

.menu-ul li:hover:before, .menu-ul li:hover:after{
    width:110%;
    height:115%;
}

.menu-social li{
    padding: 0px 8px;
    margin: 6px 5px;
    position: relative;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.menu-social li::before{
    content: '';
    position: absolute;
    width: 90%;  height: 90%;
    top: 5%;   left: 4%;
    border-radius: 50%;
    transform: scale(0,0);
    transition: .5s;
    z-index: -1;
}

.menu-social .instagram::before{
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
}

.menu-social .pinterest::before{
    background: #BD081C
}

.menu-social li:hover::before{
    transform: scale(1,1); 
}

.menu-social li a{
    display: inline-block;
    color: #262626;
    font-size: 47px;
    transition: .9s;
}

.menu-social li:hover a{
    transition: .3s;
    color: #fff;
}

.menu-social li a{
    font-size: 22px;
}

.menu-ul li a, .menu-social li a, .footer-ul li a{
    text-decoration: none;
    color: black;
}

.about-me{
    width: 100%;
    padding-top: 65px;;
}

.about-me-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.about-me-container div{
    width: 50vw;
}

.about-me_avatar-image{
    margin: 30px 15px 30px 10px;
}

.img-border{
    border: 1px solid black;
}

.title{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.about-me_info{
    margin: 30px 10px 30px 15px;
    padding: 30px 74px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fde3ec;
}

.about-me_description{
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}

.lets-chat{
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 14px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid black;
    transition: .5s;
}

.lets-chat:hover{
    background-color: white;
    color: black;
}

.services{
    width: 100%;
}

.services-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 30px;
}

.services_item{
    max-width: 33.33%;
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
}

.service1{
    position: relative;
}

.services_item-background{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -10px;
}

.services_item_title{
    padding: 30px 0px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.services_item_description{
    font-size: 14px;
}

.services_price {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
}

.work-together{
    width: 100%;
    background-color: #fde3ec;
}

.work-together-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.work-together_info{
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0px 30px 0px 0px;
    align-self: center;
    max-width: 40vw;
}

.work-together_info_background{
    position: absolute;
    z-index: -1;
    max-width: 370px;
    bottom: 0px;
    /* left: 440px; */
}

.work-together_description{
    padding: 30px 30px 0px;
}

.work-together_image{
    max-width: 300px;
}

.customer-coments{
    width: 100%;
}

.customer-coments-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.customer-coments_title{
    padding-bottom: 40px;
    letter-spacing: 2px;
}

.slick-prev:before,
  .slick-next:before {
    display: none;
}
  
.customer-coments-slick .slick-arrow{
    /* position: absolute;
    top: 50%;
    margin: -15px 0 0 0; */
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 55px;
}

.customer-coments-slick .slick-arrow.slick-prev{
    left: 40px;
    background: url('../pictures/arrow-left.png') 0 0 / 100% no-repeat;
}

.customer-coments-slick .slick-arrow.slick-next{
    right: 40px;
    background: url('../pictures/arrow-right.png') 0 0 / 100% no-repeat;
}

.customer-coments-slick .comment{
    max-width: 48vw;
    margin: 0 auto;
}

.slick-slider{
    margin-bottom: 10px;
}

/* .inst_block-section{
    height: 400px;
    max-height: 400px;
} */

.inst_block{
    width: 100%;
    background-color: #fde3ec;
    background-image: url('../pictures/white-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.inst_block-container{
    max-width: 1100px;
    margin: 0 auto;
    /* position: relative; */
}

.inst_block-images{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    /* position: absolute;
    top: 80px; */
}

.inst_block-image-block{
    padding: 20px 10px;
}

.inst_block_title{
    text-align: center;
    padding-top: 30px;
    /* height: 320px;
    max-height: 320px; */
}

.footer_block{
    width: 100%;
    text-transform: uppercase;
}

.footer_block-container{
    max-width: 1100px;
    margin: 0 auto;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 20px;
}

/* .footer-ul{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
} */

.footer_block-container li{
    background: #fde3ec;
}

@media (max-width: 1200px) {
    .work-together_description{
        padding: 20px 0px 0px;
    }
}

@media (max-width: 1098px) {
    .services_item-background{
        height: 380px;
    }
    .work-together_info{
        max-width: 45vw;
    }
}

@media (max-width: 1025px) {
    .services_item-background{
        height: 350px;
        width: 220px;
    }
}

@media (max-width: 998px) {
    .work-together_info{
        padding: 10px 15px 15px;
        max-width: 55vw;
    }
    .services_item-background{
        display: none;
    }
    .inst_block{
        background-image: none;
    }
    .inst_block-images{
        flex-wrap: wrap;
    }
    .inst_block-image-block:last-child{
        display: none;
    }
    .about-me-container div{
        width: 45vw;
    }
}

@media (max-width: 880px) {
    .about-me-container{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }
    .about-me_avatar-image{
        margin: 25px 15px 15px;
    }
    .about-me_info{
        width: 80vw!important;
        border: 1px solid black;
        margin: 10px 10px 30px 15px;
    }
}

@media (max-width: 768px) {
    .work-together_info{
        margin: 0;
        max-width: 70vw;
    }
    .work-together_info_background{
        max-width: 280px;
    }
    .work-together_image{
        display: none;
    }
    .inst_block-image-block{
        max-width: 250px;
    }
    .menu-ul{
        display: none;
    }
    .footer-ul{
        display: flex;
    }
    .footer-ul li{
        padding: 5px;
    }
    .footer-ul li:not(:last-child){
        margin-right: 15px;
    }
    .menu-container{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .mobile-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
    }
    .services_item{
        padding: 30px 15px;
    }
}

@media (max-width: 575px) {}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}